* { 
  font-family: 'Roboto Condensed', sans-serif;
  /*letter-spacing: 1px;*/
}
:root {
  --gray: rgb(221, 219, 219);
  --dark-gray: rgb(131, 130, 130);
  --blue: rgb(33, 121, 221);
}
body {
  margin: 0px;
}

.search-bar-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px;  
}

.search-bar-area .search-area-left {
  display: inline-flex;
}

.google-icon {
  display: inline;
  max-height: 40px;
  margin-right: 50px;
}

.search-bar-area .profile-icon {
  max-height: 60px;
  width: 40px;
  border-radius: 50%;
}

.search-input-container{
  display: flex;
  align-items:center;  
  border-radius: 35px;
  border: solid 1px rgb(221, 219, 219)
}

.search-bar-area .search-area-input {                               
  height: 30px;  
  width: 600px;
  margin-left: 15px;
  border: none;
  background-color: transparent;
}

.search-bar-area .search-area-input:focus{
  border: none;
  outline: none;
}

.search-bar-area i {
  padding: 12px;
}

.search-bar-area .img-x{
  border-right: 1px solid rgb(221, 219, 219);
}

.search-bar-area .img-voice-icon, .img-microphone-icon{
  color: rgb(33, 121, 221);
}


.search-bar-area ul { 
  padding: 0px; margin: 0px;
  display: flex;  
  flex-direction: row;  
  align-items: center;
}
.search-bar-area ul li {
  display: inline;
}

.search-bar-area ul li i {
  line-height: 40px;
}

.search-bar-area .person-badge {
  margin-left: auto;
}

.tab {
  margin-left: 180px;
  margin-top: 20px;    
}

.tab a{
  text-decoration: none;
  display: inline-block;
  color:var(--dark-gray);
  padding: 10px 10px;  
}
.tab .all {
  color: var(--blue);
  border-bottom: 4px solid var(--blue);
}
.tab .settings{
  margin-left: 125px;
}

hr {
  border:1px solid var(--gray);
  margin: 0px;
}

.result-time {
  color: var(--dark-gray);
  margin: 10px 0px;  
}

.search-results{
  display: flex;  
  flex-direction: column;
}

.search-result{
  margin: 10px 0px;
}

.container {
  max-width: 800px;
  margin: 0 185px;
}

.search-result p, h2{
  margin: 3px;
}

.search-result a {
  text-decoration: none;
  color: rgb(105, 65, 236);
}

.people-ask-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  border: 1px solid var(--gray);
}

.people-ask-grid-header{
  padding: 15px 15px;
  font-size: 14pt;
}

.people-ask-grid-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  border-top: 1px solid var(--gray);
}

.people-ask-grid-row div{
  box-sizing: border-box;
  padding: 15px 15px;    
  flex: 20;
  font-size: 12pt;
}

.people-ask-grid-row i {
  box-sizing: border-box;  
  align-self: center; 
  flex: 1;
}

.section-gradient{
  margin-left: 185px;
  height: 50px;    
  background: linear-gradient(97deg, rgba(0,0,0,0) 0%, rgba(218, 216, 216, 0.477) 100%);
}

.google-row{
  display: flex;
  width: 50%;
  margin: 30px auto;

  flex-direction: row;
  text-align: center;
}

.number {
  margin-top: -15px;
  color: blue;
  
}

.google-row div {
  align-self: center;
}

.arrow-right-div {
  padding-left: 10px;
}
.arrow-right{
  padding-top: 45px;
  color: blue;
}

.next {
  color: blue;
  padding-top: 25px;
  font-size: 14pt;
}